<template>
    <div class="cell auto">
        <div class="grid-container">
            <div class="grid grid-x grid-padding-x grid-padding-y">
                <div class="cell medium-12"><h1 class="section-title">Notifications</h1></div>
                <div class="cell medium-12" v-if="loading">
                    <Loading :displayed="loading" :fixed="false" />
                </div>
                <div class="cell medium-12" v-if="!loading">
                    <ListNotification :itemsInput="items" />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from 'axios';
    import Loading from "../components/Block/Loading.vue";
    import ListNotification from "../components/ListNotification.vue";

    @Component({
        components: {ListNotification, Loading}
    })
    export default class VerticalPage extends Vue {
        items;
        loading: Boolean = false;

        data() {
            return {
                items: [],
            }
        }

        mounted() {
            this.loading = true;
            axios.get('./data/notification.json?timestamp=' + new Date().getTime()).then(response => {
                this.items = response.data.items;
                this.loading = false;
            });
        }
    }
</script>

<style lang="scss" scoped>
    .block {
        position: relative;
        height: 500px;
    }
</style>
