<template>
    <div class="cell auto">
        <div class="grid-container">
            <div class="grid grid-x grid-padding-x grid-padding-y">
                <div class="cell medium-12"><h1 class="section-title">Logan's Style</h1></div>
                <div class="cell medium-12" v-if="loading" >
                    <Loading :displayed="loading" :fixed="false"/>
                </div>
                <div class="cell medium-12">
                    <FlexTable :itemsInput="items" :configInput="config" v-if="!loading" />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from 'axios';
    import Loading from "../../components/Block/Loading.vue";
    import FlexTable from "../../components/Table/FlexTable.vue";

    @Component({
        components: {FlexTable, Loading}
    })
    export default class FlexPage extends Vue {
        items;
        config;
        loading: Boolean = false;

        data() {
            return {
                items: [],
                config: [],
            }
        }

        mounted() {
            this.loading = true;
            axios.get('./data/table.json?timestamp=' + new Date().getTime()).then(response => {
                this.items = response.data.items;
                this.config = response.data.config;
                this.loading = false;
            });
        }
    }
</script>

<style lang="scss" scoped>
</style>
