<template>
    <div class="cell auto">
        <div class="grid-container">
            <div class="grid grid-x grid-padding-x">
                <div class="cell medium-12"><h1 class="section-title">Google Like</h1></div>
                <div class="cell medium-12" v-if="loading" >
                    <Loading :displayed="loading" :fixed="false"/>
                </div>
                <div v-for="item in items" class="cell medium-4" v-if="!loading">
                    <GoogleCard :dataInput="item" />
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from 'axios';
    import GoogleCard from "../../components/Card/GoogleCard.vue";
    import Loading from "../../components/Block/Loading.vue";

    @Component({
        components: {Loading, GoogleCard}
    })
    export default class GooglePage extends Vue {
        items;
        loading: Boolean = false;

        data() {
            return {
                items: [],
            }
        }

        mounted() {
            this.loading = true;
            axios.get('./data/card.json?timestamp=' + new Date().getTime()).then(response => {
                this.items = response.data.items;
                this.loading = false;
            });
        }
    }
</script>

<style lang="scss" scoped>
</style>
