<template>
    <div class="cell auto">
        <div class="grid-container">
            <div class="grid grid-x grid-padding-x grid-padding-y">
                <div class="cell medium-12"><h1 class="section-title">Vertical Timeline</h1></div>
                <div class="cell medium-12" v-if="loading">
                    <Loading :displayed="loading" :fixed="false" />
                </div>
                <div class="cell medium-12">
                    <div class="block">
                        <VerticalTimeline :itemsInput="items" v-if="!loading" />
                    </div>
                </div>
                <div class="cell medium-12"><h1 class="section-title">Vertical Timeline (open all time)</h1></div>
                <div class="cell medium-12" v-if="loading">
                    <Loading :displayed="loading" :fixed="false" />
                </div>
                <div class="cell medium-12">
                    <div class="block">
                        <VerticalTimeline :itemsInput="items" :open="true" v-if="!loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import axios from 'axios';
    import Loading from "../../components/Block/Loading.vue";
    import VerticalTimeline from "../../components/Timeline/VerticalTimeline";

    @Component({
        components: {VerticalTimeline, Loading}
    })
    export default class VerticalPage extends Vue {
        items;
        config;
        loading: Boolean = false;

        data() {
            return {
                items: [],
                config: [],
            }
        }

        mounted() {
            this.loading = true;
            axios.get('./data/timeline.json?timestamp=' + new Date().getTime()).then(response => {
                this.items = response.data.items;
                this.loading = false;
            });
        }
    }
</script>

<style lang="scss" scoped>
    .block {
        position: relative;
        height: 500px;
        overflow:hidden
    }
</style>
