<template>
    <div class="table-list">
        <div class="row row-header">
            <span v-for="(c,f) in config.fields" :class="c.class">{{f}}</span>
        </div>
        <template v-for="item in items">
            <div class="spacer"></div>
            <div class="row">
                <span v-for="(c,f) in config.fields" :class="c.class"><span v-html="getValue(item, f)"></span></span>
            </div>
        </template>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class FlexTable extends Vue {
        @Prop({type: Array}) itemsInput;
        @Prop({type: Object}) configInput;

        config;
        items;

        data() {
            return {
                items: this.itemsInput,
                config: this.configInput,
            };
        }

        getValue(item:Object, fieldname:string){
            if(this.config.fields[fieldname] === undefined){
                return "";
            }
            if(this.config.fields[fieldname].type === 'image'){
                return '<img src="' + item[fieldname] + '" alt="' + fieldname + '" />';
            }
            return item[fieldname];
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/mixins";
    @import "../../../scss/template/variables";

    .table-list {
        display: table;

        width: 100%;
        padding: 1rem 1.2rem;

        & > .row {
            display: table-row;
            background: white;

            & > * {
                display: table-cell;
                padding: .8rem 1rem;
                vertical-align: middle;
            }
        }

        .row {
            margin-bottom: 10px;
            padding: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &:not(.row-header) {
                @include make-card(white, 0);
            }

            .image {
                width: 72px;

                img {
                    border-radius: 50%;
                    height: 40px;
                }
            }

            .type,
            .show,
            .edit,
            .delete {
                text-align: center;
                width: 60px;

                a {
                    color: #333;
                    padding: 5px 10px;
                    @include transition(all .2s linear);

                    &:hover {
                        border-radius: 3px;
                        background: transparentize($mainColor, .2);
                        color: white;
                    }
                }
            }

            .type {
                .fa {
                    font-size: 2.5rem;
                }
            }
        }

        & > .row-header {
            color: $mainColor;
            background: transparent;
            position: relative;
            @include opacity(.8);

            a {
                position: relative;

                &.asc,
                &.desc {
                    padding-right: 24px;

                    &::after {
                        position: absolute;
                        right: 0;
                        top: -3px;
                        padding: 0 5px;
                        font-family: $fontawesomeFamily;
                        font-weight: $fontawesomeSolidWeight;
                    }
                }

                &.asc {
                    &::after {
                        content: '\F15D';
                    }
                }

                &.desc {
                    &::after {
                        content: '\F15E';
                    }
                }
            }
        }

        .spacer {
            height: 10px;
        }

        & + .row-footer {
            display: flex;
            padding: 1rem 1.2rem;
            color: $mainColor;
            background: transparent;
            @include opacity(.8);
            @include box-shadow(none);

            & > * {
                display: block;
                flex: 1;
            }
        }
    }
</style>
