<template>
    <header>
        <div class="content">
            <div class="avatar">
                <img :src="avatar" :alt="title" />
            </div>
            <div class="infos">
                <h1>{{ title }}</h1>
                <span class="detail"><i class="fa fa-user"></i> {{ user }}</span>
            </div>
            <div class="item-list horizontal statistics">
                <div v-for="stat in stats" class="item">
                    <span class="value">{{ stat.value }}</span>
                    <span class="description">{{ stat.description}} </span>
                </div>
            </div>
        </div>
    </header>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class VisualHeader extends Vue {
        @Prop({type: Object}) dataInput;

        data() {
            return {
                title: this.dataInput.title,
                user: this.dataInput.user,
                avatar: this.dataInput.avatar,
                stats: this.dataInput.stats,
            };
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/mixins";
    @import "../../../scss/template/variables";

    header {
        position: relative;
        background: transparentize($mainColor, .2);
        padding: 50px 0;

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('http://matchs.p-lejeune.com/media/jeu/2-counter-strike-global-offensive/banner-1477230434.jpg');
            background-position: center center;
        }

        .content {
            margin: 0 auto;
            color: white;
            max-width: 1280px;
            display: flex;
            align-items: center;

            * {
                padding: 0 25px;
            }

            .avatar {
                width: 150px;
                @include border-radius(15px);
                overflow: hidden;

                img {
                    @include border-radius(inherit);
                }
            }

            .infos {
                flex-grow: 1;

                h1 {
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                .detail {
                    font-size: 1rem;
                    opacity: .7;
                }
            }

            .statistics {
                .item {
                    .value {
                        font-size: 2rem;
                        display: block;
                    }

                    .description {
                        opacity: .7;
                    }
                }
            }
        }
    }

</style>
