<template>
    <div class="tab-container">
        <ul class="menu">
            <li v-for="filter in filters" v-bind:class="{ active: filter.active}">
                <a href="#" @click="updateFilter($event, filter)">{{filter.value}}</a>
            </li>
        </ul>
    </div>
</template>


<script lang="ts">
    import {Component, Prop, Vue, Watch} from "vue-property-decorator";

    @Component
    export default class TabbedFilter extends Vue {
        @Prop({type: Array}) valuesInput;
        @Prop({type: String}) filter;

        filters;

        data() {
            return {
                filters: [],
            }
        }

        updateFilter(event, item) {
            event.preventDefault();
            this.filters.forEach(item => {
                item.active = false;
            });
            item.active = true;
            if (item.value === "tous") {
                this.$emit('input', "")
            } else {
                this.$emit('input', item.value)
            }
        }

        @Watch("valuesInput")
        onValuesInputChange() {
            this.filters = [] as Object[];
            this.filters.push({
                value: "tous",
                active: true,
            });
            this.valuesInput.forEach(value => {
                this.filters.push({
                    value: value,
                    active: false,
                });
            });
        }

    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/mixins";
    @import "../../../scss/template/variables";

    .tab-container {
        display: flex;
        flex-direction: row-reverse;

        .menu {
            li {
                a {
                    border-bottom: 3px solid transparent;
                    display: block;
                    padding: 1rem 1.8rem;
                    color: transparentize(white, .77);
                    font-family: Roboto, sans-serif;
                    text-transform: uppercase;

                    &:hover {
                        color: transparentize(white, .33);
                    }
                }

                &.active {
                    background: transparent;

                    a {
                        background: transparent;
                        color: white;
                        border-color: white;
                    }
                }
            }
        }
    }
</style>
