<template>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li>
                    <a data-toggle="drawer">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="menu-text" id="page-name" v-if="pagename !== null">{{pagename}}</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="notification" v-if="notifications.length > 0">
                    <a href="#"><i class="fa fa-bell"></i></a>
                    <ListNotification :itemsInput="notifications" :maxItems="5" moreLinkName="notification-list"/>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import ListNotification from "../ListNotification.vue";
    import axios from "axios";

    @Component({
        components: {ListNotification}
    })
    export default class TopBar extends Vue {
        @Prop({type: String}) pagename;

        notifications = [];

        data() {
            return {
                notifications: [],
            }
        }

        mounted() {
            axios.get('./data/notification.json?timestamp=' + new Date().getTime()).then(response => {
                this.notifications = response.data.items;
            });
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/variables";
    @import "../../../scss/template/mixins";

    .top-bar {
        background: $mainColor;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;

        .top-bar-left,
        .top-bar-right {
            & > .menu {
                background: transparent;

                & > li {
                    & > a {
                        color: inherit;
                    }
                }
            }
        }
    }
</style>
