.card{
  .card-hover-actions{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    a{
      display: block;
      margin: 2px;
      padding : .1rem .3rem;
      @include opacity(0);
      @include transition(all 0.35s ease);
      @include transform(translateY(50%));
      line-height: 35px;
      width: 35px;
      background-color: white;
      color: $mainColor;
      text-align: center;
      font-size: 1.1rem;
      &:hover{
        background-color: $mainColor;
        color: white;
        cursor: pointer;
      }
    }
  }
  &:hover{
    .card-hover-actions{
      a{
        @include opacity(1);
        @include transition(all 0.35s ease);
        @include transform(translateX(0));
        &:nth-child(2){
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          transition-delay: 0.2s;
        }
      }
    }
  }
}
