#introduction {
  position: relative;
  top: -50px;
  font-family: Roboto, sans-serif;
  @include make-card(white, 5px, 30px);

  .introduction-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;

    .text {
      flex: 1;
      flex-basis: auto;
      padding-left: 20px;
    }

  }

}


@media screen and (max-width: $breakpointSmall) {
  #introduction {
    .introduction-container {
      flex-direction: column;
      .text {
        padding: 20px 0;
      }
    }
  }
}
