#loading{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10rem;
  @include opacity(0);
  &.active{
    display: flex;
    @include opacity(1);
    @include transition(all 1s linear);
  }
}
