.notifications {
  .menu li a{
    padding : 0;
  }
  .notification{
    display:flex;
    .icon{
      width: 50px;
      height: 50px;
      text-align : center;
      .date{
        display:block;
        opacity: .8;
      }
    }
    .content{
      flex-grow: 1;
      .title{
        display:block;
        width : 80%;
      }
    }
  }
}
