.pagination {
  background: transparent;
  list-style: none;
  position: relative;
  display: inline-flex;
  width : auto;
  margin : 0 auto;
  li {
    display: list-item;
    padding : 0;
    a{
      background: rgba(0, 0, 0, 0.05);
      border: none;
      outline: none;
      @include transition(background .5s linear);
    }
    &:first-child {
      a {
        padding-left: 15px;
        @include border-radius(15px 0 0 15px);
      }
    }
    &:last-child {
      a {
        padding-right: 15px;
        @include border-radius(0 15px 15px 0);
      }
    }
    &.current{
      background : transparent;
      padding : 0;
      color : #333;
      a{
        background : #FFF;
        font-weight: 700;
        @include box-shadow(0 5px 20px rgba(0, 0, 0, 0.2));
      }
    }
  }
}


@media screen and (max-width: $breakpointSmall){
  .pagination {
    li {
      display: inline-block;
    }
  }
}
