.table-list {
  display: table;

  width: 100%;
  padding: 1rem 1.2rem;

  & > .row {
    display: table-row;
    background: white;

    & > * {
      display: table-cell;
      padding: .8rem 1rem;
      vertical-align: middle;
    }
  }

  .row {
    margin-bottom: 10px;
    padding: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(.row-header) {
      @include make-card(white, 0);
    }

    .image {
      width: 72px;

      img {
        border-radius: 50%;
        height: 40px;
      }
    }

    .type,
    .show,
    .edit,
    .delete {
      text-align: center;
      width: 60px;

      a {
        color: #333;
        padding: 5px 10px;
        @include transition(all .2s linear);

        &:hover {
          border-radius: 3px;
          background: transparentize($mainColor, .2);
          color: white;
        }
      }
    }

    .type {
      .fa {
        font-size: 2.5rem;
      }
    }
  }

  & > .row-header {
    color: $mainColor;
    background: transparent;
    position: relative;
    @include opacity(.8);

    a {
      position: relative;

      &.asc,
      &.desc {
        padding-right: 24px;

        &::after {
          position: absolute;
          right: 0;
          top: -3px;
          padding: 0 5px;
          font-family: $fontawesomeFamily;
          font-weight: $fontawesomeSolidWeight;
        }
      }

      &.asc {
        &::after {
          content: '\F15D';
        }
      }

      &.desc {
        &::after {
          content: '\F15E';
        }
      }
    }
  }

  .spacer {
    height: 10px;
  }

  & + .row-footer {
    display: flex;
    padding: 1rem 1.2rem;
    color: $mainColor;
    background: transparent;
    @include opacity(.8);
    @include box-shadow(none);

    & > * {
      display: block;
      flex: 1;
    }
  }
}


