<template>
    <div id="timeline" data-simplebar data-simplebar-auto-hide="false" :class="{'open':open}">
        <div class="timeline-header">
            <span class="title">{{ title }}</span>
            <span class="icon"><i :class="icon"></i></span>
        </div>
        <div class="timeline-body">
            <template v-for="item in items">
                <div v-if="item.tooltip" class="item right" :class="item.class" data-tooltip data-click-open="false" :title="item.tooltip" data-hover-delay="650">
                    <div class="item-icon">
                        <i :class="item.icon"></i>
                    </div>
                    <div class="item-text">
                        <span>{{item.date}}</span>
                        <span>{{item.title}}</span>
                        <span>{{item.user}}</span>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>

<script lang="ts">
    import $ from "jquery";
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class FlexTable extends Vue {
        @Prop({type: Array}) itemsInput;
        @Prop({type: Boolean, default: false}) open;
        @Prop({type: String, default: 'Timeline'}) title;
        @Prop({type: String, default: 'far fa-clock'}) icon;

        data() {
            return {
                items: this.itemsInput,
            };
        }

    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/mixins";
    @import "../../../scss/template/variables";


    $timeline-header-height: 48px;
    $timeline-footer-height: $timeline-header-height;
    $timeline-icon-width: 43px;

    @mixin make-timeline-item($background, $color : 'white') {
        color: $color;
        &:first-child {
            &:before {
                height: 28px;
                top: 0;
                background: linear-gradient(to top, $background, transparent);
            }
        }
        &:before{
            background: $background;
        }
        .item-icon{
            background: $background;
            color: $color;
        }
    }

    #timeline {
        @include transition(transform .15s $cubicFastInSlowOut, box-shadow .15s linear);
        @include box-shadow(0 0 80px transparent);
        @include transform(translate3d(-335px, 0, 0));
        @include transform-style(preserve-3d);

        will-change: transform;
        background: darken($dark, 15);
        color: $textLight;
        position: absolute;
        width: 400px;
        top: 0;
        left: 0;
        bottom: 0;
        z-index:1;


        .timeline-header {
            background: darken($dark, 20%);
            height: $timeline-header-height;
            text-align: right;
            padding-right: 80px;
            position: relative;
            font-size: 1.2rem;
            font-weight: $weightBold;

            .title {
                padding: 10px 0 10px 10px;
                position: relative;
                display: inline-block;
                width: 100%;
            }

            .icon {
                position: absolute;
                top: calc(50% - #{$timeline-icon-width/2});
                right: 17px;
                width: $timeline-icon-width;
                height: $timeline-icon-width;
                font-size: 30px;
            }
        }

        .timeline-body {
            height: calc(100% - #{$timeline-header-height});
            max-height: calc(100% - #{$timeline-header-height});
            width: 100%;

            .item {
                font-family: $fontFamilyCondensed;
                padding: 18px 12px;
                position: relative;
                width: 100%;

                @include make-timeline-item(#616161, $textLight);

                &:before {
                    @include opacity(.4);
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 52px;
                    right: 30px;
                    top: -25px;
                }

                .item-icon {
                    @include border-radius($timeline-icon-width / 2);
                    @include box-shadow(0 4px 4px rgba(black, .33));
                    position: absolute;
                    top: 50%;
                    margin-top: ( $timeline-icon-width / 2 ) * -1;
                    right: 12px;
                    width: $timeline-icon-width;
                    height: $timeline-icon-width;
                    padding-top: 9px;
                    text-align: center;
                    z-index: 1;
                }

                .item-text {
                    @include transition(transform .15s $cubicFastInSlowOut .1s, opacity .15s linear);
                    @include transform(translate3d(-18px, 0, 0));
                    @include opacity(0);
                    width: calc(100% - #{$timeline-icon-width});
                    padding-right: 18px;

                    span {
                        cursor: default;
                        display: inline-block;
                        line-height: 1;
                        width: 100%;
                        text-align: right;
                        max-width: 307px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        &:first-child {
                            @include opacity(.5);
                            font-weight: $weightThin;
                            font-size: 12px;
                            letter-spacing: .04em;
                        }

                        &:nth-child(2) {
                            font-weight: $weightBold;
                            text-transform: uppercase;
                            letter-spacing: .02em;
                        }

                        &:nth-child(3) {
                            font-weight: $weightThin;
                            letter-spacing: .03em;
                            line-height: 1.2;
                            position: relative;
                            top: -2px;
                        }
                    }
                }



                // Simple-Scrollbar
                .simplebar-wrapper {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .simplebar-content {
                    @include transition(padding .15s $cubicFastInSlowOut);
                    height: 100%;
                    width: calc(100% + 18px);
                    padding: 10px 0 0 0;
                    position: relative;
                    overflow-y: scroll;
                    box-sizing: border-box;
                }
                .simplebar-track{
                    &.simplebar-horizontal{
                        display:none;
                    }
                    &.simplebar-vertical{
                        .simple-scollbar {
                            @include transition(opacity .15s linear);
                            @include opacity(0);
                            position: relative;
                            background: rgba(white, 0.1);
                            width: 9px;
                            top: 0;
                            z-index: 2;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &:hover,
        &.open{
            @include transition(transform .25s $cubicFastInSlowOut $openingDelay, box-shadow .25s linear $openingDelay);
            @include transition-delay($openingDelay);
            @include transform(translate3d(0, 0, 0));
            @include transform-style(preserve-3d);
            @include box-shadow(0 0 80px black);

            will-change: transform;

            .timeline-body {
                .item {
                    $add-sec: .033s;
                    $i-sum: 100;
                    @for $i from 1 through $i-sum {
                        &:nth-child(#{$i}) {
                            & > .item-text {
                                @include transition(transform .25s $cubicFastInSlowOut .1s + $openingDelay + ($add-sec * $i),
                                        opacity .25s linear .1s + $openingDelay + ($add-sec * $i));
                                @include transform(translate3d(0, 0, 0));
                                @include opacity(1);
                            }
                        }
                    }
                }

                .ss-content {
                    @include transition(padding .25s $cubicFastInSlowOut $openingDelay);
                    padding: 10px 12px 0 0;
                }
                .ss-scroll{
                    @include transition(opacity .25s linear (.3s + $openingDelay));
                    @include opacity(1);
                }
            }
        }
    }


    #timeline{
        .timeline-body{
            .item {
                &.red {
                    @include make-timeline-item($red, white);
                }

                &.yellow {
                    @include make-timeline-item($yellow, white);
                }

                &.green {
                    @include make-timeline-item($green, white);
                }

                &.blue {
                    @include make-timeline-item($blue, white);
                }

                &.purple {
                    @include make-timeline-item($purple, white);
                }

                &.pink {
                    @include make-timeline-item($pink, white);
                }

                &.orange {
                    @include make-timeline-item($orange, white);
                }
            }
        }
    }
</style>
