<template>
    <div class="card google">
        <div class="content">
            <h2>{{ category }}</h2>
            <h1>{{ title }}</h1>
            <span class="organisateur"><i class="fa fa-user"></i> {{ creator }}</span>
            <span class="start"><i class="fa fa-calendar"></i> {{ start }}</span>
        </div>
        <div class="footer">
            <div class="image-list">
                <img v-for="image in images" :src="image.src" :alt="image.src" />
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="statistics">
                <span class="value">{{ firstStat.value }}</span>
                <span class="description">{{ firstStat.description }}</span>
            </div>
            <div class="statistics">
                <span class="value">{{ secondStat.value }}</span>
                <span class="description">{{ secondStat.description }}</span>
            </div>
        </div>
        <div class="progress main" role="progressbar" tabindex="0" :aria-valuenow="progress" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100" data-tooltip title="50 percent">
            <div class="progress-meter" style="width: 50%"></div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class GoogleCard extends Vue {
        @Prop({type: Object}) dataInput;

        data() {
            return {
                title: this.dataInput.title,
                category: this.dataInput.category,
                creator: this.dataInput.creator,
                start: this.dataInput.start,
                images: this.dataInput.images,
                firstStat: this.dataInput.firstStat,
                secondStat: this.dataInput.secondStat,
                progress: this.dataInput.progress,
            };
        }
    }
</script>

<style scoped lang="scss">
    .card {
        &.google {
            background: white;

            .footer {
                display: flex;
                align-items: center;
                padding: 5px 0;
                border-top: 1px solid rgba(0, 0, 0, .3);

                & > *:not(:last-child) {
                    border-right: 1px solid rgba(0, 0, 0, .3);
                    padding: 0 10px;
                }

                .image-list {
                    img {
                        height: 36px;
                        width: 36px;
                        border-radius: 50%;
                        background: white;
                        border: 3px solid white;

                        &:not(:first-child) {
                            margin-left: -15px;
                        }

                        .fas.fa-ellipsis-h {
                            opacity: .7;
                            margin-left: 0;
                        }
                    }
                }

                .statistics {
                    flex-grow: 1;
                    text-align: center;
                    font-size: 1.1rem;

                    .value {
                        font-size: 1.5rem;
                    }

                    .description {
                        opacity: .7;
                    }
                }
            }

            & > .progress {
                height: 3px;
            }
        }
    }
</style>
