<template>
    <div class="card logan">
        <div class="content">
            <h2>{{ category }}</h2>
            <h1>{{ title }}</h1>
            <span class="organisateur"><i class="fa fa-user"></i> {{ creator }}</span>
            <span class="start"><i class="fa fa-calendar"></i> {{ start }}</span>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class LoganCard extends Vue {
        @Prop({type: Object}) dataInput;

        data() {
            return {
                title: this.dataInput.title,
                category: this.dataInput.category,
                creator: this.dataInput.creator,
                start: this.dataInput.start,
            };
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/mixins";
    .card {
        &.logan {
            @include make-card();
        }
    }
</style>
