<template>
    <div class="card visual">
        <div>
            <div class="banner">
                <img :src="banner" :alt="title" :title="title">
            </div>
            <div class="content">
                <h1>{{title}}</h1>
                <h2>
                    <span class="organisateur"><i class="fa fa-user"></i> {{ creator }}</span>
                    <span class="start"><i class="fa fa-calendar"></i> {{ start }}</span>
                </h2>
            </div>
            <div class="card-hover-actions">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitch"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class VisualCard extends Vue {
        @Prop({type: Object}) dataInput;

        data() {
            return {
                title: this.dataInput.title,
                category: this.dataInput.category,
                creator: this.dataInput.creator,
                banner: this.dataInput.banner,
                start: this.dataInput.start,
            };
        }
    }
</script>

<style lang="scss" scoped>
    @import "../../../scss/template/variables";
    .card{
        &.visual{
            width: 100%;
            padding-bottom: 45%;
            position: relative;
            margin: 0;
            & > div{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .banner{
                width: 100%;
                overflow: hidden;
                position: relative;
                img{
                    width : 100%;
                }
            }
            .content{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: transparentize(black, .3);
                color: white;
                padding: .5rem 1rem;
                text-align: center;
                font-weight: $weightExtraBold;
                h1{
                    font-size: 1.2rem;
                    padding: 0 0 5px;
                    margin: 0;
                    color:inherit;
                }
                h2{
                    font-size: .8rem;
                    padding: 0;
                    margin: 0;
                    color:inherit;
                    .organisateur, .date{
                        color:inherit;
                        display:inline-block;
                        &:not(:last-child){
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }

</style>
