/****************************
* Block design
****************************/
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
    box-shadow: $shadow;
}

@mixin border-radius($border-radius...){
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin truncate($maxWidth: 450px){
    max-width: $maxWidth;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin backface-visibility($visibility) {
    -webkit-backface-visibility: $visibility;
    -moz-backface-visibility: $visibility;
    backface-visibility: $visibility;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}
}
/****************************
* Transitions
****************************/
@mixin animation($animation) {
    -webkit-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}
@mixin transition-property($transition-property...) {
    -webkit-transition-property: $transition-property;
    transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
    -webkit-transition-delay: $transition-delay;
    transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
    -webkit-transition-duration: $transition-duration;
    transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
    -webkit-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
    -webkit-transition: -webkit-transform $transition;
    -moz-transition: -moz-transform $transition;
    -o-transition: -o-transform $transition;
    transition: transform $transition;
}


/****************************
* Transformations
****************************/
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}
@mixin transform($transform...){
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin transform-style($transform-style...){
    -webkit-transform-style: $transform-style;
    transform-style: $transform-style;
}


/****************************
* Blocks Creation
****************************/

@mixin make-button($color: #333, $bgColor: rgba(black,.1), $radius: 24px){
    @include transition(all .25s ease-in-out);
    @include border-radius($radius);
    @include box-shadow(none);
    color: $color;
    background: transparentize($bgColor, .5);
    &:hover,
    &:focus,
    &:active{
        @include transition(all .15s ease-in-out);
        background: $bgColor;
        color: $color !important;
    }
}

@mixin make-card($bgColor: white, $radius: 3px, $padding: 1rem) {
    @include transition(all .25s ease-in-out);
    @include border-radius($radius);
    @include box-shadow(0 1px 3px rgba(0,0,0,.33), 0 0 0 rgba(0,0,0,0));
    background-color: $bgColor;
    padding: $padding;
    overflow: hidden;
    position: relative;
    &:hover{
        @include transition(all .15s ease-in-out);
        @include box-shadow(0 1px 3px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.2));
    }
}
