/****************************
* Colors
****************************/
$dark: #515151 !default;

$yellow: #eabd24 !default;
$green: #79c44f !default;
$blue: #4e9dcb !default;
$purple: #86499c !default;
$pink: #da46bc !default;
$orange: #e18314 !default;
$red: #b73636 !default;
$grey: #c9c9c9 !default;

$textLight: transparentize(white, .13);

/****************************
* Breakpoints
****************************/
$breakpointSmall: 40em !default;
$breakpointMedium: 64em;

/****************************
* Font
****************************/
$fontFamilyCondensed: 'Roboto Condensed', condensed !default;

$weightAirline : 100;
$weightThin : 200;
$weightLight : 300;
$weightRegular : 400;
$weightMedium : 500;
$weightMediumBold : 600;
$weightBold : 700;
$weightExtraBold : 800;
$weightBlack : 900;

/****************************
* Fontawesome Variables
****************************/
$fontawesomeFamily: 'Font Awesome 5 Free';
$fontawesomeRegularWeight: $weightRegular;
$fontawesomeSolidWeight: $weightBlack;

/****************************
* Animations
****************************/
$openingDelay: .25s;
$cubicFastInSlowOut: cubic-bezier(.4, 0, .2, 1);


/****************************
* Parametres
****************************/
$mainColor: $green;
