<template>
    <ul class="menu vertical notification-list">
        <template v-if="maxItems > 0">
            <li v-for="item in items.slice(0,maxItems)">
                <a href="#">
                    <div class="item" :class="item.class">
                        <div class="item-icon">
                            <i :class="item.icon"></i>
                        </div>
                        <div class="item-body">
                            <div class="item-header">
                                <span class="item-title">{{ item.title }}</span>
                                <span class="item-date">{{ item.date }}</span>
                            </div>
                            <p>{{ item.detail }}</p>
                        </div>
                    </div>
                </a>
            </li>

            <li v-if="items.length > maxItems && moreLinkName !== ''" class="more">
                <router-link :to="{name: moreLinkName}" exact>
                    Voir plus ...
                </router-link>
            </li>
        </template>
        <template v-else>
            <li v-for="item in items">
                <a href="#">
                    <div class="item" :class="item.class">
                        <div class="item-icon">
                            <i :class="item.icon"></i>
                        </div>
                        <div class="item-body">
                            <div class="item-header">
                                <span class="item-title">{{ item.title }}</span>
                                <span class="item-date">{{ item.date }}</span>
                            </div>
                            <p>{{ item.detail }}</p>
                        </div>
                    </div>
                </a>
            </li>
        </template>
    </ul>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";

    @Component
    export default class NotificationList extends Vue {
        @Prop({type: Array}) itemsInput;
        @Prop({default: -1}) maxItems;
        @Prop({type: String, default: ''}) moreLinkName;

        data() {
            return {
                items: this.itemsInput,
            };
        }

        mounted() {
            Foundation.reInit(['dropdown-menu']);
        }

    }
</script>

<style lang="scss" scoped>
    @import "../../scss/template/mixins";
    @import "../../scss/template/variables";

    $notification-icon-width: 45px;
    $notification-icon-size: 30px;

    $notification-default-color: white;
    $notification-default-background: $grey;

    @mixin make-notification($background, $color : 'white') {
        .item-icon {
            @include transition(all .35s linear);
            background-color: transparentize($background, .4);
            color: transparentize($color, .2);
        }
        &:hover {
            .item-icon {
                @include transition(all .35s linear);
                background-color: $background;
                color: $color;
            }
        }
    }

    .notification-list {
        min-width: 350px;

        & > li {
            &:not(.more) > a {
                padding: 0 !important;
            }

            &:not(:last-child) > a {
                border-bottom: 1px solid transparentize(black, .9);
            }

            &.more {
                a {
                    @include transition(all .35s linear);
                    background-color: transparentize($notification-default-background, .4);
                    padding: .5rem .7rem;
                    color: transparentize($notification-default-color, .2);;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: .9rem;
                    font-weight: $weightBold;

                    &:hover {
                        @include transition(all .15s linear);
                        background-color: $notification-default-background;
                        color: $notification-default-color;
                    }
                }
            }
        }

        .item {
            @include transition(all .35s linear);
            background: white;
            font-family: "Roboto Condensed", sans-serif;
            position: relative;
            padding: 7px 12px;
            color: $dark;

            display: flex;

            .item-icon {
                flex-basis: $notification-icon-width;
                height: $notification-icon-width;
                width: $notification-icon-width;
                border-radius: 50%;
                text-align: center;
                line-height: $notification-icon-width;
                font-size: $notification-icon-size;
            }

            @include make-notification($notification-default-background, $notification-default-color);

            .item-body {
                flex-grow: 1;
                padding: 3px 7px;

                .item-header {
                    height: 20px;
                    display: flex;

                    .item-title {
                        font-weight: bold;
                        flex-grow: 1;
                    }

                    .item-date {
                        @include opacity(.4);
                        flex-grow: 1;
                        font-size: 12px;
                        text-align: right;
                    }
                }

                & > p {
                    display: block;
                    line-height: 1.2;
                    margin: 0;
                }
            }

            &:hover,
            &:focus {
                background: transparentize(black, .99);
                @include transition(all .15s linear);
            }
        }
    }

    .notification-list {
        .item {
            &.red {
                @include make-notification($red, white);
            }

            &.yellow {
                @include make-notification($yellow, white);
            }

            &.green {
                @include make-notification($green, white);
            }

            &.blue {
                @include make-notification($blue, white);
            }

            &.purple {
                @include make-notification($purple, white);
            }

            &.pink {
                @include make-notification($pink, white);
            }

            &.orange {
                @include make-notification($orange, white);
            }
        }
    }
</style>
