@import "template/mixins";
@import "template/variables";

body {
  background: #f5f5f7;
  color: #333333;
}

.item-list {
  &.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;

    .item {
      padding: 0 20px;
      text-align: center;

      &:not(:last-child) {
        border-right: 2px solid transparentize(white, .3);
      }
    }
  }
}

.progress {
  &.main {
    .progress-meter {
      background: $mainColor;
    }
  }
}

.grid-y {
  &.medium-grid-frame {
    .medium-cell-block-container {
      & > .grid-x {
        height: 100%;
      }
    }
  }
}

#top-bar {
  background: darken($mainColor, 20);

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;

  .top-bar-left,
  .top-bar-right {
    & > .menu {
      background: transparent;

      li {
        a {
          background: transparent;
          color: inherit;

          &:hover {
            background: transparentize(black, .5);
          }
        }
      }
    }
  }
}

#left-menu {
  width: 200px;
  background: transparentize(black, .9);

  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  .menu {
    li {
      a {
        background: transparent;
        text-transform: capitalize;
        color: #333;
      }

      &.active {
        a {
          background: $mainColor;
          color: white;
        }
      }
    }
  }
}

#content{
  overflow : auto;
}

.section-title {
  padding: .5rem .7rem;
  border-bottom: 3px solid $mainColor;
  font-size: 1.5rem;
}


@import "partial/content";
@import "partial/drawer";
@import "partial/footer";
@import "partial/loading";

@import "partial/card-common";
@import "partial/notification";
@import "partial/pagination";
@import "partial/table-flex";

.card{
  &.google,
  &.logan{
    .content{
      padding : 15px 20px;
      h1{
        font-size : 1.4rem;
      }
      h2{
        font-size : 1rem;
        margin-bottom : 0;
        opacity : .6;
      }
      .organisateur,
      .start{
        font-size: .9rem;
        opacity : .6;
        display : block;
      }
    }
  }
}
